a {
    color: #fff;
}
body,.mui-content {
    background: #fff;
}
.mui-bar{
    background-color:#ff799e
}
.mui-title {
    color: #fff;
}
.mui-Btns{
    display: flex;
    color: #fff;
    font-size: 13px;
    padding: 0 2%;
}
.mui-table-view {
    display: flex;
}
.mui-ios .mui-Btns .mui-table-view-cell {
    width: 21%;
    text-align: center;
    margin: 0 2% 0;
    border-radius: 25px;
    padding: 8px 0;
}
.mui-Btns li:nth-child(1) {
    background: #ff799e;
}
.mui-Btns li:nth-child(2) {
    background: #60cb19;
}
.mui-Btns li:nth-child(3) {
    background: #32a3f3;
}
.mui-Btns li:nth-child(4) {
    background: #e4cc2b;
}
.mui-table-view:before, .mui-table-view:after,.mui-table-view-cell:before, .mui-table-view-cell:after  {
    background-color: transparent;
}
/*tabs*/
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
    border-top: none;
    border-bottom: none;
}
.mui-segmented-control.mui-scroll-wrapper .mui-scroll {
    height: 38px;
    border-bottom: 2px solid #f1f1f1;
}
.mui-scroll {
    width: 100% !important;
}
.tabs .mui-control-item{
  width: 50% !important;
}
.tabs .mui-active span {
    border-bottom: 4px solid #ff799e;
    padding-bottom: 4px;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    color: #ff799e;
}
.tabLists {
    flex-direction: column;
}
